<section class="First-page">
<header>
<h1 class="header">Budget App</h1>
</header>
<nav>
 <%= link_to "SIGN IN", new_user_session_path, class: "btn blue-btn" %><br /><br>
 <%= link_to "SIGN UP", new_user_registration_path, class: "btn gray-btn" %>
</nav>
</section>